.menu-item {
  font-size: 20px;
  border: none;
  outline: none;
  background-color: $gray;
  cursor: pointer;

  &-active {
    text-decoration: underline;
  }

  &-lock {
    cursor: default;
    opacity: 0.5;
  }
}