.menu-item {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: $white;
  color: $black;

  &-active {
    text-decoration: underline;
  }

  &-lock {
    cursor: default;
    opacity: 0.5;
  }

  &-icon {
    height: 29px;
  }
}